<h1><%= @question.title %></h1>
<p> <%= @question.body %></p>
<p><%= @question.created_at %></p>


<%= form_with(model: [@question, @answer], local:true) do |f| %>
  <% if @question.errors.any? %>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.text_area(
      :body,
      cols: 50, 
      rows: 5,
      placeholder: 'What are your thoughts'
    )%>
  </div>
  <%= f.submit %>
<% end %>

<div class = "answers">
  <% if !@answers.nil? %>
    <h1> Answers </h1>
    <ul>
    <% @answers.each do |answer| %>
      <li>
        <%= answer.body %>
        <%= link_to("Delete", question_answer_path(@question, answer), method: :delete, data: {confirm: "Are you sure"})%>
      </li>
      
    <% end %>
    </ul>
  <% end %>
  
</div>